<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="dao.AdminDao">
	<!-- 根据用户名查询 -->
	<select id="selectByUserName" parameterType="String" resultType="pojo.Admin">
		select * from admin where 1=1
		<if test="_parameter != null">
			and username =#{username}
		</if>
	</select>
	<!-- 添加用户 -->
	<insert id="addAdmin" parameterType="pojo.Admin">
		insert into admin(username,password,email) values(#{username},#{password},#{email})
	</insert>
	<!-- 修改密码 -->
	<update id="ChangePassword" parameterType="pojo.Admin">
		 update admin set password = #{password} where username = #{username}
	</update>
		<!-- 更新用户 -->
  	<update id="updateAdmin" parameterType="pojo.Admin">
  		update admin set username=#{username},password=#{password},email=#{email} 
  		where adminid = #{adminid}
  	</update>
</mapper>
