<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="mybatis/UserMapper.xml"></mapper>
		<mapper resource="mybatis/ProductMapper.xml"></mapper>
		<mapper resource="mybatis/CartMapper.xml"></mapper>
		<mapper resource="mybatis/OrderMapper.xml"></mapper>
		<mapper resource="mybatis/AdminMapper.xml"></mapper>
	</mappers>
</configuration>