.clear{ clear:both; line-height:0px; font-size:0px; visibility:hidden;}
ul,li,form,h1{ margin:0px; padding:0px; list-style:none;}
input,select,textarea{outline:none}
body{padding:0px 0px 0px 0px;margin:0px;}
body,td,th{font-family:微软雅黑;color:#434343;font-size:12px;line-height:25px;}
a{color:#434343;text-decoration:none;font-size:12px;outline: none;text-decoration:none;}
a:link{color:#434343;text-decoration:none;font-size:12px;text-decoration:none;outline: none;}
a:visited {color:#434343;text-decoration:none;font-size:12px;text-decoration:none;}
a:hover {color:#ff0000;text-decoration:none;font-size:12px;text-decoration:none;}
a:active {color:#434343;text-decoration:none;font-size:12px;text-decoration:none;}
.bot_all{background: #f9d8bf;}
.web_width{width:960px;margin:0px auto;overflow-x:hidden;}
.main_css{
	position:relative;
	width:960px;
	margin:0px auto;
	padding:5px 0px 5px 0px;
	overflow-x:hidden;
	height:1582px;
	overflow:hidden
	}
img{
	border:0px;
	}
p{
	margin:0px 0px 5px 0px;
	padding:0px;
	}
.button_style{background: #ff0000;color:#ffffff;margin:0px;padding:2px 5px;text-align:center;font-weight:bold;border:0px;height:25px;}
.input_style{border:1px solid;border-color:#d9d9d9;padding:4px 3px;margin:0;}
.search_button_style{background: #e43a3d;color:#ffffff;height:30px;margin:0px;border:0px;font-weight:bold;font-size:14px;padding:0px 10px;overflow:hidden;}
.search_input_style{padding:3px;height:22px;margin:0px;line-height:22px;float:left;width:200px;overflow:hidden;border:1px solid;border-color:#e43a3d;}
.page_css{text-align:center;MARGIN-TOP: 20px; MARGIN-BOTTOM: 10px;}
.page_css a{COLOR:#000000;Border-COLOR:#d9d9d9;border-width:1px;border-style:solid;PADDING:4px 6px;MARGIN-RIGHT: 3px; TEXT-DECORATION:none;}
.page_css a:hover{COLOR:#ff0000;PADDING:4px 6px;MARGIN-RIGHT:3px;TEXT-DECORATION: none;}
.page_css a:active{COLOR:#000000;Border-COLOR:#d9d9d9;border-width:1px;border-style:solid;PADDING:4px 6px;MARGIN-RIGHT: 3px; TEXT-DECORATION:none;}
.page_css span.current{COLOR:#ff0000;PADDING:4px 6px;MARGIN-RIGHT:3px;TEXT-DECORATION: none;}
.page_css{padding-bottom:10px; clear:both;}.ablum_css li{display:block;float:left;margin-left:10px;margin-bottom:7px;width:154px;}
.ablum_css li img{width:150px;height:150px;margin-bottom:4px;border:#96bcf9 1px solid;padding:1px;}
.ablum_css li span{display:block;margin-bottom:3px;}
.box_css_top_1{
	font-size:12px;
	padding:0px 0px 0px 0px;
	}
.box_css_main_1,.box_css_2,.box_css_1{
	padding:0px 0px 0px 0px;
	}
.box_css_top_2{
	background:url(../image/mokuaibj.gif) no-repeat;
	font-size:14px;
	font-family:微软雅黑;
	font-weight:bold;
	padding:5px 10px 5px 5px;
	}
.box_css_main_2{padding:5px 10px 10px 10px;}
.box_css_3{padding:0px 0px 0px 0px;border:#d9d9d9 1px solid;}
.box_css_top_3{background: #f04363;color:#ffffff;font-size:14px;font-family:微软雅黑;font-weight:bold;padding:7px 10px 7px 10px;}
.box_css_top_3 span a{float:right;background:url(../image/19.gif) no-repeat;display:block;font-weight: normal; font-style:normal;font-size:12px;width:40px;height:15px;margin-top:5px;margin-right:0px;}
.box_css_main_3{padding:5px 10px 10px 10px;}
.box_css_4{padding:0px 0px 0px 0px;border:#d9d9d9 1px solid;}
.box_css_top_4{background:url(../image/mokuaibj.gif) no-repeat;font-size:14px;font-family:微软雅黑;font-weight:bold;padding:10px 10px 15px 5px;}
.box_css_top_4 span a{}
.box_css_main_4{padding:5px 10px 10px 10px;}
.a_type_css_1 span a{display:block;font-weight:bold;text-decoration:none;background: #fce5cd;font-size:14px;color:#ff0000;text-align:center;padding:5px 2px 3px 4px;margin:5px 2px 3px 6px;}
.a_type_css_1 span a:visited{display:block;font-weight:bold;text-decoration:none;background: #fce5cd;font-size:14px;color:#ff0000;text-align:center;padding:5px 2px 3px 4px;margin:5px 2px 3px 6px;}
.a_type_css_1 span a:hover{background: #f4cccc;font-size:14px;color:#980000;}
.a_type_css_1 li{display:block;float:left;white-space:nowrap;margin:5px 2px 3px 6px;}
.a_type_css_1 li a{background: #6d9eeb;display:block;float:left;padding:4px 3px 2px 1px;margin:5px 2px 3px 6px;font-size:12px;color:#fff2cc;}
.a_type_css_1 li a:visited{background: #6d9eeb;display:block;float:left;padding:4px 3px 2px 1px;margin:5px 2px 3px 6px;font-size:12px;color:#fff2cc;}
.a_type_css_1 li a:hover{font-size:12px;color:#ea9999;}
.a_css_2 li{display:block;padding:3px 2px 2px 10px;margin:0px 0px 0px 0px;border-bottom-color:#d9d9d9;border-bottom-width:1px;border-bottom-style:dashed;background:url(../image/6761.gif) no-repeat left;}
.a_css_2 li a{color:#000000;font-size:12px;}
.a_css_2 li a:visited{color:#000000;font-size:12px;}
.a_css_2 li a:hover{font-size:12px;color:#980000;text-decoration:underline;}
.a_css_2 li span{float:right;font-size:12px;color:#666666;}
.a_tw1_css_3 li{display:block;padding:3px 3px 3px 3px;margin:4px 4px 2px 0px;height:160px;background: #d9d2e9;float:left;border-color:#d9d9d9;border-style:solid;border-width:1px;width:128px;overflow:hidden;}
.a_tw1_css_3 li img{width:120px;height:110px;}
.a_tw1_css_3 li span{display:block;text-align:center;margin-top:5px;line-height:18px;}
.a_tw1_css_3 li span a{color:#434343;}
.a_tw1_css_3 li span a:visited{color:#434343;}
.a_tw1_css_3 li span a:hover{color:#ff0000;}
.a_tw2_css_4 li{display:block;padding:3px 3px 3px 3px;margin:0px 0px 8px 10px;background: #d9d9d9;float:left;border-color:#d9d9d9;border-style:solid;border-width:1px;width:292px;height:131px;overflow:hidden;}
.a_tw2_css_4 li img{float:left;width:120px;height:130px;}
.a_tw2_css_4 li span{float:left;display:block;margin-left:7px;width:162px;overflow:hidden;}
.a_tw2_css_4 li span b{display:block;margin-bottom:5px;}
.a_tw2_css_4 li span b a{font-size:13px;color:#434343;}
.a_tw2_css_4 li span b a:visited{font-size:13px;color:#434343;}
.a_tw2_css_4 li span b a:hover{font-size:13px;color:#000000;}
.a_tw2_css_4 li span p{line-height:20px;padding:0px;margin:0px;color:#666666;}
.shop_type_css_5 span a{display:block;font-weight:bold;text-decoration:none;background: #fce5cd;font-size:13px;color:#f04363;text-align:center;padding:3px 3px 3px 3px;margin:0px 0px 3px 0px;}
.shop_type_css_5 span a:visited{display:block;font-weight:bold;text-decoration:none;background: #fce5cd;font-size:13px;color:#f04363;text-align:center;padding:3px 3px 3px 3px;margin:0px 0px 3px 0px;}
.shop_type_css_5 span a:hover{background: #f4cccc;font-size:13px;color:#cc4125;}
.shop_type_css_5 li{display:block;margin:0px 0px 3px 0px;}
.shop_type_css_5 li a{background: #d9ead3;display:block;padding:2px 2px 2px 2px;margin:0px 0px 3px 0px;font-size:12px;color:#4a86e8;}
.shop_type_css_5 li a:visited{background: #d9ead3;display:block;padding:2px 2px 2px 2px;margin:0px 0px 3px 0px;font-size:12px;color:#4a86e8;}
.shop_type_css_5 li a:hover{background: #76a5af;font-size:12px;color:#0000ff;}
.shop_tw1_css_6 li{display:block;padding:2px 2px 2px 2px;margin:5px 0px 8px 8px;height:196px;float:left;border-color:#d9d9d9;border-style:solid;border-width:1px;width:150px;overflow:hidden;}
.shop_tw1_css_6 li img{width:150px;height:140px;}
.shop_tw1_css_6 li span{display:block;text-align:center;margin-top:5px;line-height:24px;}
.shop_tw1_css_6 li span a{font-size:12px;color:#000000;}
.shop_tw1_css_6 li span a:visited{font-size:12px;color:#000000;}
.shop_tw1_css_6 li span a:hover{font-size:12px;color:#ff0000;}
.shop_tw1_css_6 li div{margin:5px 0px 0px 0px;text-align:center;clear:both}
.shop_tw1_css_6 li div b{color:#ff0000;font-size:14px;font-family:Arial, Helvetica, sans-serif;}
.shop_tw1_css_6 li div i{margin:0 0 0 10px; padding:0;text-decoration:line-through; font-style:normal; color:#999999}
.shop_tw1_css_6 li div .cx{margin:0 0 0 10px; padding:1px; background:#FF0000; color:#FFFFFF}
.bbs_css_7 li{display:block;padding:5px 2px 3px 4px;margin:5px 2px 3px 6px;}
.bbs_css_7 li a{color:#434343;font-size:12px;}
.bbs_css_7 li a:visited{color:#434343;font-size:12px;}
.bbs_css_7 li a:hover{font-size:12px;color:#ff0000;text-decoration:none;}
.bbs_css_7 li span{float:right;color:#cccccc;}
.pic_css_8 li{display:block;padding:2px 2px 2px 2px;margin:0px 0px 8px 10px;float:left;width:200px;height:200px;background: #d9ead3;}
.pic_css_8 li img{width:200px;height:200px;}

.word_css_9 li{display:block;padding:3px 3px 3px 8px;margin:2px 2px 2px 2px;border-bottom-color:#d9ead3;border-bottom-width:1px;border-bottom-style:dashed;float:left;width:200px;}
.word_css_9 li a{color:#434343;}
.word_css_9 li a:visited{color:#434343;}
.word_css_9 li a:hover{color:#0000ff;text-decoration:none;}

.a_css_10 li{display:block;padding:5px 2px 5px 10px;margin:0px 0px 0px 0px;border-bottom-color:#d9d9d9;border-bottom-width:1px;border-bottom-style:dashed;background:url(../image/6761.gif) no-repeat left;}
.a_css_10 li a{color:#000000;font-size:12px;}
.a_css_10 li a:visited{color:#000000;font-size:12px;}
.a_css_10 li a:hover{font-size:12px;color:#980000;text-decoration:underline;}
.a_css_10 li span{float:right;font-size:12px;color:#666666;}
.shop_tw1_css_11 li{display:block;padding:2px 2px 2px 2px;margin:5px 0px 8px 8px;height:230px;float:left;border-color:#d9d9d9;border-style:solid;border-width:1px;width:167px;overflow:hidden;}
.shop_tw1_css_11 li img{width:167px;height:166px;}
.shop_tw1_css_11 li span{display:block;text-align:center;margin-top:5px;line-height:24px;}
.shop_tw1_css_11 li span a{font-size:12px;color:#000000;}
.shop_tw1_css_11 li span a:visited{font-size:12px;color:#000000;}
.shop_tw1_css_11 li span a:hover{font-size:12px;color:#ff0000;}
.shop_tw1_css_11 li div{margin:5px 0px 0px 0px;text-align:center;clear:both}
.shop_tw1_css_11 li div b{color:#ff0000;font-size:14px;font-family:Arial, Helvetica, sans-serif;}
.shop_tw1_css_11 li div i{margin:0 0 0 10px; padding:0;text-decoration:line-through; font-style:normal; color:#999999}
.shop_tw1_css_11 li div .cx{margin:0 0 0 10px; padding:1px; background:#FF0000; color:#FFFFFF}
.menu{padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;font-weight:normal;}
.menu a{color:#ffffff;font-size:14px;}
.menu a:hover{color:#f04363;}
.menu li{float:left;display:block;list-style-type:none;position:relative;}
.menuhover{color:#f04363!important;}
.menu li a{float:left;display:block;line-height:14px;padding-top:13px;padding-right:25px;padding-bottom:13px;padding-left:25px;}
.menu li:hover{background-color:#ffdae1;}
.menu li div{position:absolute;left:0;display:none;z-index:999;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;}
.menu li div a{float:none;white-space:nowrap;display:block;font-size:14px;font-weight:normal;color:#f04363;background-color:#ffdae1;padding-top:10px;padding-right:25px;padding-bottom:10px;padding-left:25px;}
.menu li div a:hover{color:#ffffff;background-color:#f04363;}
.menu li.active{background:#ffdae1 url()  ;}
.menu li.active a{color:#f04363}
.menu li.current{background:#ffdae1 url()  ;}
.menu li.current a{color:#f04363}
.clearfix:after { content: "." ; display: block ;height: 0 ;clear: both ;visibility: hidden ;}
.clearfix{ display:block; }
.clear{ clear:both; line-height:0px; font-size:0px; visibility:hidden;}
ul,li,form,h1{ margin:0px; padding:0px; list-style:none;}
input,select,textarea{outline:none}
body{padding:0px 0px 0px 0px;margin:0px;}
body,td,th{font-family:微软雅黑;color:#434343;font-size:12px;line-height:25px;}
a{color:#434343;text-decoration:none;font-size:12px;outline: none;text-decoration:none;}
a:link{color:#434343;text-decoration:none;font-size:12px;text-decoration:none;outline: none;}
a:visited {color:#434343;text-decoration:none;font-size:12px;text-decoration:none;}
a:hover {color:#ff0000;text-decoration:none;font-size:12px;text-decoration:none;}
a:active {color:#434343;text-decoration:none;font-size:12px;text-decoration:none;}
.top_all{
	min-width:960px;
	background:url(../../images/daohangbeijing.gif) repeat-x bottom;
	}
.bot_main{background: #f9d8bf;width:960px;margin:0px auto;overflow-x:hidden;}
.web_width{width:960px;margin:0px auto;overflow-x:hidden;}
img{border:0px;}
p{margin:0px 0px 5px 0px;padding:0px;}
.button_style{background: #ff0000;color:#ffffff;margin:0px;padding:2px 5px;text-align:center;font-weight:bold;border:0px;height:25px;}
.input_style{border:1px solid;border-color:#d9d9d9;padding:4px 3px;margin:0;}
.search_button_style{background: #37ab40;color:#ffffff;height:30px;margin:0px;border:0px;font-weight:bold;font-size:14px;padding:0px 10px;overflow:hidden;}
.search_input_style{padding:3px;height:22px;margin:0px;line-height:22px;float:left;width:200px;overflow:hidden;border:1px solid;border-color:#e43a3d;}
.page_css{text-align:center;MARGIN-TOP: 20px; MARGIN-BOTTOM: 10px;}
.page_css a{COLOR:#000000;Border-COLOR:#d9d9d9;border-width:1px;border-style:solid;PADDING:4px 6px;MARGIN-RIGHT: 3px; TEXT-DECORATION:none;}
.page_css a:hover{COLOR:#ff0000;PADDING:4px 6px;MARGIN-RIGHT:3px;TEXT-DECORATION: none;}
.page_css a:active{COLOR:#000000;Border-COLOR:#d9d9d9;border-width:1px;border-style:solid;PADDING:4px 6px;MARGIN-RIGHT: 3px; TEXT-DECORATION:none;}
.page_css span.current{COLOR:#ff0000;PADDING:4px 6px;MARGIN-RIGHT:3px;TEXT-DECORATION: none;}
.page_css{padding-bottom:10px; clear:both;}.ablum_css li{display:block;float:left;margin-left:10px;margin-bottom:7px;width:154px;}
.ablum_css li img{width:150px;height:150px;margin-bottom:4px;border:#96bcf9 1px solid;padding:1px;}
.ablum_css li span{display:block;margin-bottom:3px;}
.box_css_top_1{font-size:12px;padding:0px 0px 0px 0px;}
.box_css_top_1 span a{}
.box_css_main_1{padding:0px 0px 0px 0px;}
.box_css_top_2{background:url(../image/mokuaibj.gif) no-repeat;font-size:14px;font-family:微软雅黑;font-weight:bold;padding:5px 10px 5px 5px;}
.box_css_top_2 span a{float:right;background:url(../img/13.gif) no-repeat;display:block;font-weight: normal; font-style:normal;font-size:12px;width:35px;height:25px;margin-top:10px;margin-right:0px;}
.box_css_main_2{padding:5px 10px 10px 10px;}
.box_css_3{padding:0px 0px 0px 0px;border:#d9d9d9 1px solid;}
.box_css_top_3{background: #f04363;color:#ffffff;font-size:14px;font-family:微软雅黑;font-weight:bold;padding:7px 10px 7px 10px;}
.box_css_top_3 span a{float:right;background:url(../img/19.gif) no-repeat;display:block;font-weight: normal; font-style:normal;font-size:12px;width:40px;height:15px;margin-top:5px;margin-right:0px;}
.box_css_main_3{padding:5px 10px 10px 10px;}
.box_css_4{padding:0px 0px 0px 0px;border:#d9d9d9 1px solid;}
.box_css_top_4{background:url(../image/mokuaibj.gif) no-repeat;font-size:14px;font-family:微软雅黑;font-weight:bold;padding:10px 10px 15px 5px;}
.box_css_top_4 span a{}
.box_css_main_4{padding:5px 10px 10px 10px;}
.a_type_css_1 span a{display:block;font-weight:bold;text-decoration:none;background: #fce5cd;font-size:14px;color:#ff0000;text-align:center;padding:5px 2px 3px 4px;margin:5px 2px 3px 6px;}
.a_type_css_1 span a:visited{display:block;font-weight:bold;text-decoration:none;background: #fce5cd;font-size:14px;color:#ff0000;text-align:center;padding:5px 2px 3px 4px;margin:5px 2px 3px 6px;}
.a_type_css_1 span a:hover{background: #f4cccc;font-size:14px;color:#980000;}
.a_type_css_1 li{display:block;float:left;white-space:nowrap;margin:5px 2px 3px 6px;}
.a_type_css_1 li a{background: #6d9eeb;display:block;float:left;padding:4px 3px 2px 1px;margin:5px 2px 3px 6px;font-size:12px;color:#fff2cc;}
.a_type_css_1 li a:visited{background: #6d9eeb;display:block;float:left;padding:4px 3px 2px 1px;margin:5px 2px 3px 6px;font-size:12px;color:#fff2cc;}
.a_type_css_1 li a:hover{font-size:12px;color:#ea9999;}
.a_css_2 li{display:block;padding:3px 2px 2px 10px;margin:0px 0px 0px 0px;border-bottom-color:#d9d9d9;border-bottom-width:1px;border-bottom-style:dashed;background:url(../img/6761.gif) no-repeat left;}
.a_css_2 li a{color:#000000;font-size:12px;}
.a_css_2 li a:visited{color:#000000;font-size:12px;}
.a_css_2 li a:hover{font-size:12px;color:#980000;text-decoration:underline;}
.a_css_2 li span{float:right;font-size:12px;color:#666666;}
.a_tw1_css_3 li{display:block;padding:3px 3px 3px 3px;margin:4px 4px 2px 0px;height:160px;background: #d9d2e9;float:left;border-color:#d9d9d9;border-style:solid;border-width:1px;width:128px;overflow:hidden;}
.a_tw1_css_3 li img{width:120px;height:110px;}
.a_tw1_css_3 li span{display:block;text-align:center;margin-top:5px;line-height:18px;}
.a_tw1_css_3 li span a{color:#434343;}
.a_tw1_css_3 li span a:visited{color:#434343;}
.a_tw1_css_3 li span a:hover{color:#ff0000;}
.a_tw2_css_4 li{display:block;padding:3px 3px 3px 3px;margin:0px 0px 8px 10px;background: #d9d9d9;float:left;border-color:#d9d9d9;border-style:solid;border-width:1px;width:292px;height:131px;overflow:hidden;}
.a_tw2_css_4 li img{float:left;width:120px;height:130px;}
.a_tw2_css_4 li span{float:left;display:block;margin-left:7px;width:162px;overflow:hidden;}
.a_tw2_css_4 li span b{display:block;margin-bottom:5px;}
.a_tw2_css_4 li span b a{font-size:13px;color:#434343;}
.a_tw2_css_4 li span b a:visited{font-size:13px;color:#434343;}
.a_tw2_css_4 li span b a:hover{font-size:13px;color:#000000;}
.a_tw2_css_4 li span p{line-height:20px;padding:0px;margin:0px;color:#666666;}
.shop_type_css_5 span a{display:block;font-weight:bold;text-decoration:none;background: #fce5cd;font-size:13px;color:#f04363;text-align:center;padding:3px 3px 3px 3px;margin:0px 0px 3px 0px;}
.shop_type_css_5 span a:visited{display:block;font-weight:bold;text-decoration:none;background: #fce5cd;font-size:13px;color:#f04363;text-align:center;padding:3px 3px 3px 3px;margin:0px 0px 3px 0px;}
.shop_type_css_5 span a:hover{background: #f4cccc;font-size:13px;color:#cc4125;}
.shop_type_css_5 li{display:block;margin:0px 0px 3px 0px;}
.shop_type_css_5 li a{background: #d9ead3;display:block;padding:2px 2px 2px 2px;margin:0px 0px 3px 0px;font-size:12px;color:#4a86e8;}
.shop_type_css_5 li a:visited{background: #d9ead3;display:block;padding:2px 2px 2px 2px;margin:0px 0px 3px 0px;font-size:12px;color:#4a86e8;}
.shop_type_css_5 li a:hover{background: #76a5af;font-size:12px;color:#0000ff;}
.shop_tw1_css_6 li{display:block;padding:2px 2px 2px 2px;margin:5px 0px 8px 8px;height:196px;float:left;border-color:#d9d9d9;border-style:solid;border-width:1px;width:150px;overflow:hidden;}
.shop_tw1_css_6 li img{width:150px;height:140px;}
.shop_tw1_css_6 li span{display:block;text-align:center;margin-top:5px;line-height:24px;}
.shop_tw1_css_6 li span a{font-size:12px;color:#000000;}
.shop_tw1_css_6 li span a:visited{font-size:12px;color:#000000;}
.shop_tw1_css_6 li span a:hover{font-size:12px;color:#ff0000;}
.shop_tw1_css_6 li div{margin:5px 0px 0px 0px;text-align:center;clear:both}
.shop_tw1_css_6 li div b{color:#ff0000;font-size:14px;font-family:Arial, Helvetica, sans-serif;}
.shop_tw1_css_6 li div i{margin:0 0 0 10px; padding:0;text-decoration:line-through; font-style:normal; color:#999999}
.shop_tw1_css_6 li div .cx{margin:0 0 0 10px; padding:1px; background:#FF0000; color:#FFFFFF}
.bbs_css_7 li{display:block;padding:5px 2px 3px 4px;margin:5px 2px 3px 6px;}
.bbs_css_7 li a{color:#434343;font-size:12px;}
.bbs_css_7 li a:visited{color:#434343;font-size:12px;}
.bbs_css_7 li a:hover{font-size:12px;color:#ff0000;text-decoration:none;}
.bbs_css_7 li span{float:right;color:#cccccc;}
.pic_css_8 li{display:block;padding:2px 2px 2px 2px;margin:0px 0px 8px 10px;float:left;width:200px;height:200px;background: #d9ead3;}
.pic_css_8 li img{width:200px;height:200px;}

.word_css_9 li{display:block;padding:3px 3px 3px 8px;margin:2px 2px 2px 2px;border-bottom-color:#d9ead3;border-bottom-width:1px;border-bottom-style:dashed;float:left;width:200px;}
.word_css_9 li a{color:#434343;}
.word_css_9 li a:visited{color:#434343;}
.word_css_9 li a:hover{color:#0000ff;text-decoration:none;}

.a_css_10 li{display:block;padding:5px 2px 5px 10px;margin:0px 0px 0px 0px;border-bottom-color:#d9d9d9;border-bottom-width:1px;border-bottom-style:dashed;background:url(../image/6761.gif) no-repeat left;}
.a_css_10 li a{color:#000000;font-size:12px;}
.a_css_10 li a:visited{color:#000000;font-size:12px;}
.a_css_10 li a:hover{font-size:12px;color:#980000;text-decoration:underline;}
.a_css_10 li span{float:right;font-size:12px;color:#666666;}
.shop_tw1_css_11 li{display:block;padding:2px 2px 2px 2px;margin:5px 0px 8px 8px;height:230px;float:left;border-color:#d9d9d9;border-style:solid;border-width:1px;width:167px;overflow:hidden;}
.shop_tw1_css_11 li img{width:167px;height:166px;}
.shop_tw1_css_11 li span{display:block;text-align:center;margin-top:5px;line-height:24px;}
.shop_tw1_css_11 li span a{font-size:12px;color:#000000;}
.shop_tw1_css_11 li span a:visited{font-size:12px;color:#000000;}
.shop_tw1_css_11 li span a:hover{font-size:12px;color:#ff0000;}
.shop_tw1_css_11 li div{margin:5px 0px 0px 0px;text-align:center;clear:both}
.shop_tw1_css_11 li div b{color:#ff0000;font-size:14px;font-family:Arial, Helvetica, sans-serif;}
.shop_tw1_css_11 li div i{margin:0 0 0 10px; padding:0;text-decoration:line-through; font-style:normal; color:#999999}
.shop_tw1_css_11 li div .cx{margin:0 0 0 10px; padding:1px; background:#FF0000; color:#FFFFFF}
.menu{
	width:958px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
	font-size:14px;
	font-weight:normal;
	}
.menu a{
	color:#ffffff;
	font-size:14px;
	}
.menu a:hover{
	color:#f04363;
	}
.menu li{
	float:left;
	display:block;
	list-style-type:none;
	position:relative;
	}
.menuhover{color:#f04363!important;}
.menu li a{float:left;display:block;line-height:14px;padding-top:13px;padding-right:25px;padding-bottom:13px;padding-left:25px;}
.menu li:hover{background-color:#ffdae1;}
.menu li div{position:absolute;left:0;display:none;z-index:999;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;}
.menu li div a{float:none;white-space:nowrap;display:block;font-size:14px;font-weight:normal;color:#f04363;background-color:#ffdae1;padding-top:10px;padding-right:25px;padding-bottom:10px;padding-left:25px;}
.menu li div a:hover{color:#ffffff;background-color:#f04363;}
.menu li.active{background:#ffdae1 url()  ;}
.menu li.active a{color:#f04363}
.menu li.current{background:#ffdae1 url()  ;}
.menu li.current a{color:#f04363}
.btn_clear{
		float: right;
	}
.td_probox{
		padding-top: 0px;
	
	}
.inout_product_infos{
	border: none;
	text-align: center;
	width: 50px;
	height: 20px;
}			
.choose{
	width: 50px;
	height: 50px;
	color: #46B3E6;
	border-radius: 4px;
	
	
}
.car{
	padding-bottom: 40px;
	width:100%;
	border: 1px solid #F88020;
	border-radius: 18px;
    text-align: center;
	margin-top: 2px;
	padding-left: 5px;
	
	
}
.car .good{
	background-color: #F88020;
	height:55px;
	font-size: 22px;
	color:white;
	line-height: 55px;
	font-weight: 200;
	border-radius: 18px 18px 0 0;
	margin-bottom: 20px;
	
}
.car .good table{
	width:100%;
}
.car .goods{
	height:45px;
	line-height: 45px;
	font-size: 20px;
	font-weight: 200;
}
.car .goods table{
	width:100%;
}
.car .goods table .btn1{
	width: 70px;
	height:28px;
	border: 2px solid #46B3E6;
	background-color: white;
	color: #46B3E6;
	border-radius: 4px;
	font-weight: 600;
}
.car .goods table button:hover{
	background-color: #46B3E6;
	color: white;
}
.car .goods1{
	margin-top: 10px;
	

	height:50px;
	font-size: 19px;
	color:white;
	line-height: 50px;
	font-weight: 200;
	border-radius:0 0 10px 10px ;
}
.car .goods2{
	border-top: 1px solid #F88020;
	margin-top: 10px;
	height:50px;
	font-size: 19px;
	line-height: 50px;
	font-weight: 200;
	border-radius:0 0 10px 10px ;
}
.car .goods1 table{
	
	width:100%;
}
.car .goods1{
	width: 100px;
	height:28px;
	background-color: white;
	color: #21BF73;
	border-radius: 4px;
	font-weight: 600;
}
.btn2{
	float: left;
	width: 100px;
	height:28px;
	border: 2px solid #21BF73;
	background-color: white;
	color: #21BF73;
	border-radius: 4px;
	font-weight: 600;
}
.btn3{
	text-align: center;
	text-decoration: none;
	float: right;
	width: 100px;
	height:24px;
	border: 2px solid #FF0000;
	background-color: white;
	color: #FF0000;
	border-radius: 4px;
	font-weight: 600;
	
}
.car .goods1 .btn2:hover{
	color:white;
	background-color: #21BF73;
}
.car .goods1 {
	width: 80px;
	height:30px;
	background-color: white;
	color: #FF0000;
	border-radius: 4px;
	font-weight: 600;
}
.car .goods1 .btn3:hover{
	color:white;
	background-color:#FF0000 ;
}
.bt_cal{
	width:25px;
	height:25px;
	            background-color:transparent;
            border-style:none;
	}
.logo_add{
	width:25px;
	height:25px;
}
.header_con{
    height:29px;
    background-color: #f7f7f7;
    margin-right:10%;
}
.header{
    width:100%;
    height:29px;
	background:rgba(255, 255, 255, 0.9);
   
}

.welcome{
    font:12px/29px 'Microsoft YaHei UI';
    float: left;
}
.user_login{
	height: 29px;
	line-height: 29px;
	float: right;
}
.user_login a{
	color:#666;
}
.user_login a:hover{
	color: #f80;
}
.search_bar{
	width:1200px;
    height:115px;
    margin:0 auto;
}
.num_inp{
	width:75px;
	height:25px;
	text-align:center;
	 border:2px solid  #DCDCDC;
	 margin-top:16px;
	}
.search_con{
	width:616px;
    height:38px;
    border:1px solid #37ab40;
    margin:34px 0 0 123px;
    /*雪碧图的放大镜作背景图*/
    background:url(../images/icons.png) 10px -335px no-repeat;
}
.search_con .input_text{
    width:470px;
    height:37px;
    border:0px;
    margin-left:37px;
    outline:none;
}
.search_con .input_btn{
    width:100px;
    height:38px;
    background-color: #37ab40;
    border:0;
    font:14px/38px 'Microsoft YaHei UI';
    color:#fff;
    cursor:pointer;
}
.guest_card{
	width:200px;
    height:40px;
    margin-top:34px;
}
.card_name{
	width:158px;
    height:38px;
    border:1px solid #ddd;
    font:14px/38px 'Microsoft YaHei UI';
    color:#37ab40;
    text-indent:56px;
    background:url(../images/icons.png) 10px -300px no-repeat #f7f7f7;
}
.goods_count{
	width: 40px;
    height:40px;
    background-color:#f80;
    font:bold 18px/40px 'Microsoft YaHei UI';
    text-align:center;
    color:#fff;
}
.navbar_con{
	height:40px;
    border-bottom:2px solid #37ab30;
    /*background: red;*/
}
.navbar{
	width:1200px;
    height:40px;
    margin:0 auto;
    /*background: red;*/
}
.subnav_con h1{
	width:200px;
    height:40px;
    background-color:#FF6666;
    font:14px/40px 'Microsoft YaHei UI';
    text-align:center;
    color:#fff;
}
.subnav_con i{
	width: 11px;
	height: 7px;
	background:url(../images/down.png) left center no-repeat;
	overflow: hidden;
	display: inline-block;
}
.navlist{
	overflow:hidden;
}
.navlist li{
	float:left;
    height:14px;
    padding:0 25px;
    border-left:1px solid #666;
    margin-left:-2px;
    margin-top:13px;
}
.submena{
    width: 1200px;
    height: 30px;
    margin: 0 auto;
    /*background:yellow;*/
}
.submena a{
    color:#37ab40;
    line-height: 30px;
}

.center_con{
	width: 1200px;
	height: 350px;
	margin: 0 auto;
	/*background: yellow;*/
}
.center_con .main_menu{
	width:350px;
    height:350px;
    overflow:hidden;
}
.goods_detail_list{
    width:730px;
    height:350px;
}
.goods_detail_list h3{
    font-size:24px;
    line-height:24px;
    color:#666;
    font-weight:normal;
}
.goods_detail_list p{
    color:#666;
    line-height:40px;
}
.prize_bar{
    height:72px;
    background-color:#fff5f5;
    line-height:72px;
}
.prize_bar .show_prize{
    font-size:20px;
    color:#ff3e3e;
    padding-left:20px
}
.prize_bar .show_pirze em{
    font-style:normal;
    font-size:36px;
    padding-left:10px
}
.prize_bar .show_unit{
    padding-left: 150px;
}
.goods_num{
    height: 52px;
    margin-top: 19px;
    /*background: yellow;*/
}
.goods_num .num_name{
    width:70px;
    height:52px;
    line-height:52px;
}
.goods_num .num_add{
    width:75px;
    height:25px;
    border:1px solid #dddddd;
}
.goods_num .num_add .num_show{
    width:49px;
    height:50px;
    text-align:center;
    line-height:50px;
    border:0px;
    outline:none;
    font-size:14px;
    color:#666;
}
.goods_num .num_add .add,.goods_num .num_add .minus{
    width:25px;
    line-height:25px;
    text-align:center;
    border-left:1px solid #ddd;
    border-bottom:1px solid #ddd;
    color:#666;
    font-size:14px;
}
.goods_num .num_add .minus{
    border-bottom:0px;
}
.total{
    height: 35px;
    line-height: 35px;
    margin-top: 25px;
    /*background: yellow;*/
}
.total em{
    font-style:normal;
    color:#ff3e3e;
    font-size:18px
}
.operate_btn{
    height:40px;
    margin-top:35px;
    font-size:0;
    position:relative;
}
.operate_btn .buy_btn,.operate_btn .add_cart{
    display:inline-block;
    width:178px;
    height:38px;
    border:1px solid #c40000;
    font-size:14px;
    color:#c40000;
    line-height:38px;
    text-align:center;
    background-color:#ffeded;
}
.operate_btn .add_cart{
    background-color:#c40000;
    color:#fff;
    margin-left:10px;
    position:relative;
    z-index:10;
}
